.ui-button{
    padding: 20px 10px;
    border-radius: 10px;
    background-color: #D2D2D2;
    color: black;
    font-size: 16;
    font-family: 'Roboto', light;
}

.ui-button--genre{
    width: 324px;
}