@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=block&subset=cyrillic');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300; /* Обязательно для Light */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
