@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400&display=swap&subset=cyrillic');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap&subset=cyrillic');

.app-header {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* нужно для кнопки "Назад" */
  border-bottom: 1px solid #eee;
}

/* Название */
.app-header__title {
  font-family: 'AR One Sans', sans-serif;
  font-size: 24px;
  text-decoration: none;
  color: black;
}

/* Кнопка "Назад" */
.app-header__back {
  position: absolute;
  left: 20px;
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.app-header__back:hover {
  opacity: 0.7;
}